{% extends 'home.html' %}
{% block content %}
<div class="glash-div">
<form action="/api/v1/balance" method ="post">
     <input class="glash-input" type="text" name="name" placeholder="Enter your bank name" required><br><br>
    <input class="glash-input" type="number" name="balance" placeholder="Enter your balance" required><br><br>
    <input class="glash-input" type="number" name="account_num" placeholder="Enter your account_number" required><br><br>
    <input class="glash-input" type="password" name="password" placeholder="Enter your password" required><br><br>
    <button class="glash-btn" type="submit">Credit</button>
</form>
</div>
{% endblock %}